**/*.o
**/*.gch
**/*.pyc
**/*.bak
**/*.d
**/*.out
**/*.log
**/*.bbl
**/*.blg
**/*.aux
hello
lrc
.hello.c.swp
myoutput
expected
.lrc.c.swp
mathlib
.README.md.swp
mathlib-test
plot.sh
plots.sh
arccos.pdf
arccosdiff.pdf
arcsin.pdf
arcsindiff.pdf
arctan.pdf
arctandiff.pdf
log.pdf
logdiff.pdf
.Makefile.swp
sorting
func.c
graphs
tester.sh
tsp
bm
bv
corpora
graph.sh
hamming
names.sh
test.sh
testdecode.sh
testencode.sh
testensize.sh
badheadertest.sh
expencode
everybyte
foo
func.c
headertest.sh
printtree
testdev.sh
testenv.sh
testexp.sh
testmy.sh
testmyv.sh
throttle.sh
badspeak.txt
banhammer2.c
bf
bh2
bv
compare.sh
ht
ll
names.sh
newspeak.txt
t.txt
encode
decode
entropy
error
