**/*.o
**/*.gch
**/*.pyc
**/*.bak
**/*.d
**/*.out
**/*.log
**/*.bbl
**/*.blg
**/*.aux
hello
lrc
.hello.c.swp
myoutput
expected
.lrc.c.swp
mathlib
.README.md.swp
mathlib-test
plot.sh
plots.sh
arccos.pdf
arccosdiff.pdf
arcsin.pdf
arcsindiff.pdf
arctan.pdf
arctandiff.pdf
log.pdf
logdiff.pdf
